/* offline online notification */
#offline-notification{
	position:fixed;
	bottom:0em;
	left:0em;
	z-index:2001;
	width:100%;
	transition:.3s ease;
	-moz-transition:.3s ease;
	-o-transition:.3s ease;
	-webkit-transition:.3s ease;
	-ms-transition:.3s ease;
}

#offline-notification .offline-wrapper{
	margin:.5em;
	border-radius:5px;
	-moz-border-radius:5px;
	overflow:hidden;
	display:inline-block;
	padding:.5em;
}

#offline-notification.online{
	bottom:-200px;
	opacity:0;
}